@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-bg: #F5F5F4;
    --ui-text-inverted: #ffffff;
}

.dark {
    --ui-bg: #0D0D0D;
}

@theme {
    --color-brand: #ff0000;
    --color-primary: #ff0000;
    --color-onprimary: #ffffff;
    --color-onbrand: #ffffff;
    --color-brand-strong: #d38900;

    --color-secondary: #64e073;
    --color-onsecondary: #ffffff;

    --color-onbackground: #000000;
    --color-muted: #666666;
    --color-error: #ff0000;
}