@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");
@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-brand: #ffb325;
    --color-onbrand: #ffffff;
    --color-brand-strong: #d38900;
    --color-checkout: #F5F5F4;

    --color-secondary: #64e073;
    --color-onsecondary: #ffffff;

    --color-onbackground: #000000;
    --color-muted: #666666;
    --color-error: #ff0000;
}